.search-container {
  margin: 20px 0px;
}
.action-group {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
}

.red {
  color: red;
}
